[submodule "vim/bundle/dracula"]
	path = vim/bundle/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
