* {
    border: none;
    border-radius: 0px;
    font-family: 'FuraMono Nerd Font Mono';
    font-size: 16px;
    min-height: 0;
}

#window {
   padding: 0px 10px;
   background: #282A36;
}

window#waybar {
    background: #282A36;
    color: #F8F8F2;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background: #282A36;
}
window#waybar.solo {
    background: #282A36;
}

#workspaces button {
    padding: 0px 3px;
    background: #282A36;
    color: #F8F8F2;
}

#workspaces button.focused {
    padding: 0px;
    border: 3px solid #5AF78E;
}

#workspaces button.urgent {
    padding: 0px;
    background: #FF6E67;
    border: 3px solid #FF5555;
}

#mode {
    background: #282A36;
    border: 3px solid #6272A4;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #tray, #mode, #custom-ip {
    padding: 0 10px;
    color: #F8F8F2;
    background-color: #282A36;
}

#battery.charging {
    color: #5AF78E;
}

@keyframes blink {
    to {
        color: #F8F8F2;
    }
}

#battery.critical:not(.charging) {
    color: #FF6E67;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282A36;
}

#network.disconnected {
    color: #FF6E67;
}

#pulseaudio.muted {
    color: #FF6E67;
}

#temperature.critical {
    color: #FF6E67;
}
